/* 

Style Hints: 

Body Font Size = 12px
	 Line-height: 1.6; 
	 Font Family = "Times New Roman", serif
	 Font Color = #656565
	 Background: #F3EBE9

H1 Font Size = 40px
   Font Family = Arial, Helvetica, sans-serif
   Text-transform: uppercase;
   Font Color = #999999

Link Hover Color = #20222a

*/

body {
	font-size: 12px;
	font-family: "Times New Roman", serif;
	background-color: #F3EBE9;
	color: #656565;
}

#container {
	width: 960px;
	margin: 0 auto;
	background-color: white; 
	padding: 15px; 
}

h1 {
	font-size: 40px; 
	font-family: Arial, Helvetica, sans-serif; 
	text-transform: uppercase;
	color: $999999 
}

#press img { 
	border: solid 3px grey; 
}

#about { 
	word-spacing: 1px; 
	white-space: 2px; 
}

#header img { 
	border: solid 3px grey; 
}
